.root {
    -primary-color: white;
    -secondary-color: #F0F0F0;
    -third-color: #E7E7E7;
    -text-color: black;
    -hover-color: gray;
    -focus-color: red;

    -fx-background-color: -primary-color;
}

.textfield-grid-cell {
    -fx-min-height: 70;
    -fx-min-width: 120;

    -fx-pref-height: 70;
    -fx-pref-width: 120;

    -fx-alignment: center;

    -fx-border-color: red;
    -fx-border-width: .75;

    -fx-background-color: -third-color;
    -fx-text-fill: -text-color;
}

.button {
    -fx-text-fill: -text-color;
    -fx-background-color: -third-color;
    -fx-background-radius:0;
    -fx-border-color: -third-color;
    -fx-border-width: 0 2 2 0;
}

.button:hover {
    -fx-text-fill: -text-color;
    -fx-background-color: -secondary-color;
    -fx-background-radius:0;
    -fx-border-color: -hover-color;
    -fx-border-width: 0 2 2 0;
}

.button:focused {
    -fx-text-fill: -text-color;
    -fx-background-color: -secondary-color;
    -fx-background-radius:0;
    -fx-border-color: -focus-color;
    -fx-border-width: 0 2 2 0;
}

/* Focused item background color in the list */
.choice-box .menu-item:focused {
    -fx-background-color: -focus-color;
}

/* Text color of non-focused items in the list */
.choice-box .menu-item > .label {
    -fx-text-fill: -text-color;
}

/* Background color of the whole context menu */
.choice-box .context-menu {
    -fx-background-color: -third-color;
}

/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label {
    -fx-text-fill: -third-color;
}

/* Background color of the control itself */
.choice-box {
    -fx-background-color: -third-color;
    -fx-mark-color: -focus-color;
    -fx-text-fill: -text-color;

    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 2 2 0;
}

/* Selected item text color on the control itself */
.choice-box > .label {
    -fx-text-fill: -text-color;
}

.choice-box:hover {
    -fx-background-color: -secondary-color;
    -fx-text-color: -text-color;
    -fx-text-fill: -text-color;
    -fx-background-radius: 0;
    -fx-border-color: -hover-color;
    -fx-border-width: 0 2 2 0;
}

.choice-box:focused {
    -fx-background-color: -secondary-color;
    -fx-text-color: -text-color;
    -fx-text-fill: -text-color;
    -fx-background-radius: 0;
    -fx-border-color: -focus-color;
    -fx-border-width: 0 2 2 0;
}

.title-label {
    -fx-text-fill: -text-color;
}

.text-area {
    -fx-background-color: -focus-color;
    -fx-control-inner-background: -third-color;
    -fx-text-fill: -text-color;
}

.text-field {
    -fx-background-color: -third-color;
    -fx-text-fill: -text-color;
    -fx-border-color: transparent;
    -fx-border-width: 2 2 2 2;
}

.text-field:hover {
    -fx-background-color: -secondary-color;
    -fx-text-fill: -text-color;
    -fx-border-color: -hover-color;
    -fx-border-width: 2 2 2 2;
}

.text-field:focused {
    -fx-background-color: -secondary-color;
    -fx-text-fill: -text-color;
    -fx-border-color: -focus-color;
    -fx-border-width: 2 2 2 2;
}

.bordered-grid {
    -fx-border-color: -focus-color;
    -fx-border-width: 0.75;
}