.root {
    -primary-color: #f7f7f7;
    -secondary-color: #f2f2f2;
    -third-color: #e0e0e0;

    -hover-color: gray;
    -focus-color: red;

    -header-color: -focus-color;
    -subheader-color: #DC143C; /* Firebrick. Darker than red and crimson */
    -sub-subheader-color: #8B0000; /* Dark red. */
    -text-color: black;

    -fx-background-color: -primary-color;
}

.matrix-row-highlight {
    -fx-background-color: yellow
}

.matrix-pane {
    -fx-border-color: red;
    -fx-background-color: -third-color;
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
}

.menu-item {
    -fx-padding: 10px;
    -fx-background-color: -secondary-color;
}

.textfield-grid-cell {
    -fx-min-height: 70;
    -fx-min-width: 120;

    -fx-pref-height: 100;
    -fx-pref-width: 150;

    -fx-alignment: center;

    -fx-border-color: -focus-color;
    -fx-border-width: .75;

    -fx-background-color: -third-color;
    -fx-text-fill: -text-color;

    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.button {
    -fx-text-fill: -text-color;
    -fx-background-color: -third-color;
    -fx-background-radius:0;
    -fx-border-color: -third-color;
    -fx-border-width: 0 2 2 0;
}

.button:hover {
    -fx-text-fill: -text-color;
    -fx-background-color: -primary-color;
    -fx-background-radius:0;
    -fx-border-color: -hover-color;
    -fx-border-width: 0 2 2 0;
}

.button:focused {
    -fx-text-fill: -text-color;
    -fx-background-color: -primary-color;
    -fx-background-radius:0;
    -fx-border-color: -focus-color;
    -fx-border-width: 0 2 2 0;
}

/* Focused item background color in the list */
.menu-item:focused {
    -fx-background-color: -focus-color;
}

/* Text color of non-focused items in the list */
.menu-item > .label {
    -fx-text-fill: -text-color;
}

/* Background color of the whole context menu */
.context-menu {
    -fx-padding: 0px;
    -fx-background-color: -third-color;
    -fx-border-color: -focus-color;
}

/* Text color of focused item in the list */
.menu-item:focused > .label {
    -fx-text-fill: -third-color;
}

/* Background color of the control itself */
.choice-box {
    -fx-background-color: -third-color;
    -fx-mark-color: -focus-color;
    -fx-text-fill: -text-color;

    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 2 2 0;
}

/* Selected item text color on the control itself */
.choice-box > .label {
    -fx-text-fill: -text-color;
}

.choice-box:hover {
    -fx-background-color: -secondary-color;
    -fx-text-color: -text-color;
    -fx-text-fill: -text-color;
    -fx-background-radius: 0;
    -fx-border-color: -hover-color;
    -fx-border-width: 0 2 2 0;
}

.choice-box:focused {
    -fx-background-color: -secondary-color;
    -fx-text-color: -text-color;
    -fx-text-fill: -text-color;
    -fx-background-radius: 0;
    -fx-border-color: -focus-color;
    -fx-border-width: 0 2 2 0;
}

.title-label {
    -fx-text-fill: -text-color;
}

.matrix-label {
    -fx-fill: -text-color;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-area {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
    -fx-effect: none;
    -fx-shadow: none;
    -fx-inner-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-text-fill: -text-color;
}

.text-field {
    -fx-background-color: -third-color;
    -fx-text-fill: -text-color;
    -fx-border-color: transparent;
    -fx-border-width: 2 2 2 2;
}

.text-field:hover {
    -fx-background-color: -primary-color;
    -fx-text-fill: -text-color;
    -fx-border-color: -hover-color;
    -fx-border-width: 2 2 2 2;
}

.text-field:focused {
    -fx-background-color: -primary-color;
    -fx-text-fill: -text-color;
    -fx-border-color: -focus-color;
    -fx-border-width: 2 2 2 2;
}

.bordered-grid {
    -fx-border-color: -focus-color;
    -fx-border-width: 0.75;
}

.check-box .box {
    -fx-background-color: -secondary-color;
    -fx-border-color: -hover-color;
}

.check-box:selected .mark {
    -fx-background-color: -focus-color;
}

.check-box:selected .box {
    -fx-background-color: -secondary-color;
    -fx-border-color: -focus-color;
}

/* Main header style */
.main-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #000045; /* Adjust color as needed */
}

/* Subheader style */
.sub-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: -text-color; /* Adjust color as needed */
}

/* Sub-subheader style */
.sub-sub-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: #666666; /* Adjust color as needed */
}

/* Regular text style */
.regular-text {
    -fx-font-size: 12px;
    -fx-fill: #009000; /* Adjust color as needed */
}

.scroll-bar:vertical {
    -fx-background-color: #eee;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #ccc;
}

.text-flow {
    -fx-background-color: white;
}

.main-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: -header-color;
}

.sub-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: -subheader-color;
}

.sub-sub-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: -sub-subheader-color;
}

/* Regular text style */
.regular-text {
    -fx-font-size: 12px;
    -fx-fill: -text-color;
}

.scroll-bar:vertical {
    -fx-background-color: -secondary-color;
}
/* funny devil number is the best gray. */
.scroll-bar:vertical .thumb {
    -fx-background-color: #666;
}

.text-flow {
    -fx-background-color: -secondary-color;
    -fx-control-inner-background: -third-color;
}

.scroll-pane {
    -fx-background-color: -primary-color;
    -fx-control-inner-background: -third-color;
}

/* Custom CSS for Slider */
.slider {
    -fx-background-color: -secondary-color; /* Background color of the slider */
}

.slider .track {
    -fx-background-color: -primary-color; /* Track (background) color */
}

.slider .thumb {
    -fx-background-color: white; /* Thumb (bar) color */
}

.slider:focused .thumb {
    -fx-background-color: yellow; /* Thumb (bar) color when slider is focused */
    -fx-radius: 2;
}
/* Style the TabPane background */
.tab-pane {
    -fx-background-color: -secondary-color;
}

/* Style the tabs within the TabPane */
.tab-pane .tab-header-background {
    -fx-background-color: -third-color;
}

.tab-pane .tab {
    -fx-background-color: -primary-color;
}

/* Style the selected tab */
.tab-pane .tab:selected {
    -fx-background-color: -subheader-color;
    -fx-border-color: -secondary-color;
    -fx-focus-color: transparent;
}

/* Style for the tab labels */
.tab-pane .tab .tab-label {
    -fx-text-fill: -text-color;
}

/* Style for the content area of the selected tab */
.tab-content-area {
    -fx-background-color: -secondary-color;
}

.vbox{
    -fx-background-color: -secondary-color;
}